<div>
    <h2>Cargar producto</h2>

    <label for="title"> Título:</label>
    <input type="text" name="title" id="title"><br/><br/>
    <label for="description"> Descripción:</label>
    <input type="text" name="decription" id="description"><br/><br/>
    <label for="price"> Precio:</label>
    <input type="text" name="price" id="price"><br/><br/>
    <label for="thumbnail"> Imagen:</label>
    <input type="text" name="thumbnail" id="thumbnail"><br/><br/>
    <label for="code"> Código:</label>
    <input type="text" name="code" id="code"><br/><br/>
    <label for="stock"> Stock:</label>
    <input type="text" name="stock" id="stock"><br/><br/>
    <label for="category"> Categoría:</label>
    <select id="category" name="category"><br/><br/>
        <option value="vinos">Vinos</option>
        <option value="destilados">Destilados</option>
        <option value="cervezas">Cervezas</option>
    </select><br><br>
    <button type="submit" id="btn-send">Cargar producto</button>

</div>

<h2>Todos los productos</h2>
<div>
    <ol id="productsRealTime">

    </ol>
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexRT.js"></script>